body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #21a8d3, #21a8d3);
    color: white;
}

.form-container {
    background: white;
    padding: 30px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #16a085;
}

.header-container {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    position: relative;
}
  
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.home-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
  
.home-icon i {
    font-size: 28px;
    color: black;
    transition: color 0.3s;
}
  
.home-icon i:hover {
    color: rgb(19, 17, 15);
}
  
.header-content h2 {
    color: white;
    margin: 0;
}
  

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 2px 0;
}